body, 
html{
    padding: 0;
    margin: 0;
    font-family: arial;
    background-color: #e9eaed;
    color: #373e4d;
    height: 100%;
    width: 100%;
}

#container{
    position: absolute;
    text-align: center;
    float: left;
    width: 250px;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -300px;
}

#container #portrait{
    width: 250px;
    border-radius: 50%;
}





