body, 
html{
    padding:0;
    margin:0;
    font-family:arial;
    width: 100%;
    height: 100%;
    background-color: #e9eaed;
    color: #1f1f1f;
    font-size:1.3em;
}

#profile-container{
    background:none !important;
    position:relative;
    width:100%;
    height:100%;
}

#background-container{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image:url("../img/background.JPG");
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#background-opacity{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity:0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#profile-container #profile{
    color:#e9eaed;
    top:20%;
    text-align:center;
    position:relative;
    text-shadow: -1px 0px 0px rgba(0, 0, 0, 1);
}

.radial {
    border-radius:50%;
}

#portrait {
    width:270px;
    height:300px;
}

.centered-container{
    position:relative;
    width: 80%;
    margin: 0 auto 0 auto;
    max-width:1400px;
}

#bio {
    padding: 0 50px 0 50px;
}

@media only screen and (max-width:500px){
    #background-container{
        background-position: center;
        background-size: auto;
    }
    #profile-container #profile{
        top:20%;
    }
    .centered-container{
        width:100%;
    }

    #bio{
        padding: 0;
    }
}