body, 
html {
	padding:0;
	margin:0;
	font-family:arial;
}

.bus{ 
	position:absolute;
	padding:5px;
	font-size:25px;
}

ul, 
ul li {
	list-style:none;
	padding:0;
}

/*
.bus {
	position:relative;
	width:64px; 
	height:64px;
	background-image:url('bus.png');
	background-size:100%;
}*/	

.road{
	position:absolute;
	background-color:black;
}

#bus-route {
	float:right;	
	display:none;
	border:1px solid black;
	padding:20px;
}

#bus-route h1 {
	font-size:16pt;
}

#stop-timetable{
	float:right;
	display:none;
}

#city-map {
	position:relative;
}

#city-map p.stop {
	position:absolute;
	color:blue;
	border: 1px solid red;
	border-radius:50%;
	width:15px;
	height:20px;
	padding-left:5px;
}